<div class="jumbotron">
    <h1>Now playing</h1>
    <h3>{{description track}}</h3>
    <audio autoplay="autoplay">
        <source src="/stream">
        Your browser does not support the audio element.
    </audio>
    <button id='mute' type="button" class="btn btn-default" data-state="on">Mute</button>
</div>