<div class="jumbotron">
    <h1>Now playing</h1>
    <h2>{{description track}}</h2>
    <h3 id="left">{{left track.duration}}</h3>
    <button id='mute' type="button" class="btn btn-default" data-state="on">Mute</button>
</div>